---
---

@import "base";

.center-container {
    display: flex;            /* Enable Flexbox */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;            /* Set the height of the container to full viewport height */
}